.CapCaptcha-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  cap-widget {
    --cap-widget-width: 100%;
    --cap-widget-height: 35px;
    --cap-widget-padding: 14px;
    --cap-border-radius: 8px;
    --cap-gap: 12px;
    --cap-checkbox-size: 24px;
    --cap-font: inherit;
    width: 100%;
  }
}
